@{
    ViewData["Title"] = "Hash Slinging Slasher";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang!</h1>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Tekan Disini!</a>.</p>
</div>
