@model List<TheHashSlingingSlasher.Models.BarangModel>
@{
    ViewBag.Title = "Index";

}
<h1>Daftar Barang</h1>
<div>
    <table class="table table-striped table-bordered table-hover table-checkable order-column table-responsive">
        <thead class="thead-dark">
            <tr>
                <th><center>Kode Barang</center></th>
                <th><center>Nama Barang</center></th>
                <th><center>Jumlah</center></th>
                <th><center>Keterangan</center></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].KodeBarang</td>
                    <td>@Model[i].NamaBarang</td>
                    <td>@Model[i].Jumlah</td>
                    <td>@Model[i].Keterangan</td>
                </tr>
            }
        </tbody>


    </table>
</div>

<br />
<br />
@using (Html.BeginForm())
{
    <input type="submit" value="Add" name="ActionBtn2" class="btn btn-primary" />
    <input type="submit" value="Delete" name="ActionBtn2" class="btn btn-danger" />
}
<br />
<br />


