@model List<TheHashSlingingSlasher.Models.BarangModel>
@{
    ViewBag.Title = "Tambah";
}
<br />
<br />
<br />
<br />
<h1>Tambah Barang</h1>
<br />
<br />
<div class="form-horizontal">
    @using (Html.BeginForm())
    {

        <div class="form-group">
            <label class="col-md-2">Kode Barang</label>
            @Html.TextBox("KodeBarang", null, new { @class = "form-control col-lg-3" })
        </div>

        <div class="form-group">
            <label class="col-md-2">Nama Barang</label>
            @Html.TextBox("NamaBarang", null, new { @class = "form-control col-lg-3" })
        </div>

        <div class="form-group" typeof="number">
            <label class="col-md-2">Jumlah</label>
            @Html.TextBox("Jumlah", null, new { @class = "form-control col-lg-3" })
        </div>

        <div class="form-group">
            <label class="col-md-2">Keterangan</label>
            @Html.TextBox("Keterangan", null, new { @class = "form-control col-lg-3" })
        </div>


        <input type="submit" value="Save" name="TambahAction2" class="btn btn-primary" />
        <input type="submit" value="Cancel" name="TambahActio2n" class="btn btn-primary" />
    
    }
</div>